html,body{
    margin:0px;
    
}
table{
    margin-top: 50px;
    border: 1px solid black;
    height:fit-content;
    width: 1000px;
    /* border-collapse: collapse; */
    /* margin:20px; */
}
th,td{
    border: 1px solid black;
    height: 50px;
    /* border-collapse: collapse; */
}
tr{
    text-align: center;
}
tr:hover{
    cursor: pointer;
    background-color: rgb(253, 246, 231);
}
th{
    background-color:orange;
    cursor: default;
}