html,body{
    margin:0px;
    background-color: white;
}
h1{
    background-color:orange;
    margin:0px;
    padding: 15px 0px;
}
.base {
    position:relative;
    height:fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color:black; */
    align-items:center;
    /* overflow: auto; */
}
#multi_delete{
    position:sticky;
    top:20px;
    /* left:30px; */
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10%;
    cursor: pointer;
    visibility: hidden;
    z-index: 1;
}
.card{
    position: relative;
    width: 1000px;
    border:4px solid transparent;
    box-shadow: 0 2px 10px black;
    border-radius:15px;
    margin:20px;
    background-color: antiquewhite;
    /* cursor: pointer; */
    /* background-color: rgb(248, 224, 178); */
    background-color: rgb(248, 245, 240);
    /* border-top: 5px solid orange; */
}

input{
    position: absolute;
    top:15px;
    left:15px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.card > .fa-trash{
    position: absolute;
    cursor: pointer;
    top:15px;
    right:15px;
}
.card > .fa-edit{
    position: absolute;
    top:17px;
    right:100px;
    cursor: pointer;
}
.card-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin:10px;
    text-decoration: underline;
    /* border:1px solid black; */
}
.card-body{
    margin: 10px;
    padding-bottom: 20px;
    border-bottom:1px solid black;
}
.cmnts{
    display:flex;
    flex-direction: column;
    /* border:1px solid black; */
}
span{
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}
section{
    display:flex;
    flex-direction: column;
    margin: 10px;
    padding-bottom: 10px;
    background-color: white;
    background-color: antiquewhite;
    /* background-color: rgb(248, 206, 129); */
    /* background-color:lightskyblue; */
    box-shadow: 0 2px 10px;
    border-left: 7px solid orange;
    /* border-top: 5px solid orange; */
    border-radius: 0px 10px 10px 0px;
    /* border-radius: 10px; */
}
section > div{
    margin: 10px;
    margin-bottom: 0px;
}
.cmnt_name{
    /* align-self: center; */
    font: size 15px;
    font-weight: bold;
    text-decoration: underline;
}
.cmnt_email{
    align-self: flex-end;
}